/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo-branco: #FFFFFF;
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-do-texto: #464646;
    --cor-do-texto-cinza: #A2A2A2;
    --cor-do-texto-branca: #FFFFFF;
    --cor-azul-bg: #EAF2FD;
    --cor-primaria: #2A7AE4;
    --cor-de-hover: #f94949;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    color: var(--cor-do-texto);
    line-height: 1;
    width: 100%;
    overflow-x: hidden;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
    transition: color .25s ease-in;
}

a:hover {
    color: var(--cor-de-hover);
    font-weight: 700;
}

span a:hover, button:hover {
    color: var(--cor-do-texto-branca);
    background-color: var(--cor-de-hover);
    transition: all .3s ease-in-out;
}

.all {
    display: grid;
    column-count: 12;
    gap: 32px;
    width: 100%;
    min-height: 100dvh;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 0rem 15rem;
    padding-top: 80px;
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding: 32px 12rem 24px;
    position: sticky;
    top: 0px;
    background-color: var(--cor-de-fundo);
}

section.menu > header {
    display: block;
}

section.menu > header .menu__title {
    display: inline-block;
    margin-left: 0.5rem;
    font-weight: bold;
}

section.menu > nav {
    display: flex;
}

section.menu > nav .menu__list {
    display: flex;
    gap: 2rem;
}

section.menu > nav > .menu__list .menu__list__item:last-child {
    font-weight: bold;
}

section.menu > nav > .menu__list .menu__list__item .ativo {
    font-weight: 700;
    color: var(--cor-primaria);
}

/*Sessão Title*/

section.title{

}

section.title > .title__div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
    width: 100%;
}

section.title > .title__div .title__profile {
    order: 1;
    width: 368px;
    height: 368px;
}

section.title > .title__div .title__container {
    order: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section.title > .title__div .title__container .title__bio {
    font-size: 3.25rem;
    font-weight: 700;
}

section.title > .title__div .title__container .title__subsection {
    font-size: 1.375rem;
    font-weight: 400;
}

section.title > .title__div .title__container .title__network {
    display: flex;
    gap: 32px;
}

section.title > .title__div .title__container .title__network .title__network__item {
    display: flex;
    gap: 4px;
}

section.title > .title__div .title__container .title__network .title__network__item a {
    color: var(--cor-do-texto);
    font-weight: 500;
}

section.title > .title__div .title__container .title__network .title__network__item a img {
    width: 16px;
    height: 16px;   
}


/*Sessão About*/

section.about{
    margin: 0;
    padding: 7rem 15rem 4rem;
    background-color: var(--cor-azul-bg);
}

section.about > .about__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 70%;
}

section.about > .about__container .about__title {
    font-weight: 700;
    font-size: 2rem;
}

section.about > .about__container > .about__paragraph {
    margin-bottom: 8px;
}

section.about > .about__container img {
    width: 10%;
    height: auto;
}

/*Sessão Skills*/

section.skills {
    display: block;
    margin-bottom: 88px;
}

section.skills > .skills__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
}

section.skills > .skills__line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

section.skills > .skills__line .skills__box {
    display: flex;

    width: 180px;
    height: 180px;
    background-color: var(--cor-de-fundo-branco);

    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 16px 16px;
}

section.skills > .skills__line .skills__box ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.skills > .skills__line .skills__box ul .skills__img {}

section.skills > .skills__line .skills__box ul .skills__name {
    font-weight: 700;
}

/*Sessão Hobbies*/

section.hobbies{
    display: block;
    margin-bottom: 88px;
}

section.hobbies > .hobbies__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 32px;
}

section.hobbies > .hobbies__line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

section.hobbies > .hobbies__line .hobbies__box {
    display: flex;

    width: 180px;
    height: 180px;
    background-color: var(--cor-de-fundo-branco);

    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 16px 16px;
}

section.hobbies > .hobbies__line .hobbies__box ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.hobbies > .hobbies__line .hobbies__box ul .hobbies__img {}

section.hobbies > .hobbies__line .hobbies__box ul .hobbies__name {
    font-weight: 700;
}


/* Experiência Acadêmica*/

section.academic{
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0;
    padding: 5.125rem 15rem;
    background-color: var(--cor-azul-bg);
}

section.academic > .academic__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

section.academic > .academic__courses {
    display: flex;
    justify-content: center;
    gap: 16px;
}

section.academic > .academic__courses .academic__courses__box {
    width: 100%;
}

section.academic > .academic__courses .academic__courses__box .academic__courses__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

section.academic > .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__img img {
    width: 100%;
    height: 350px;
}

section.academic > .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__title h4 {
    font-size: 1.375rem;
    font-weight: 700;
}

section.academic > .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__subtitle p {
    font-weight: 500;
}


/* experiência*/

section.experience{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section.experience > .experience__section__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

section.experience .experiencie__box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 16px;
    width: 100%;
}

/* aplica o estilo a todos os elementos com indice multiplo de 2 (0, 2, 4)*/
section.experience .experiencie__box:nth-child(2n+0) {
    flex-direction: row;
}

section.experience .experiencie__box .experience__img {
    width: 60%;
    height: 426px;
}

section.experience .experiencie__box .experience__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

section.experience .experiencie__box .experience__info .experience__title {
    font-size: 1.375rem;
    font-weight: 700;
}

section.experience .experiencie__box .experience__info .experience__text {
    font-weight: 500;
}

section.experience .experiencie__box .experience__info .experience__description {
    display: flex;
    gap: 16px;
}

section.experience .experiencie__box .experience__info .experience__description .experience__repo {
    border: 2px solid var(--cor-primaria);
}

section.experience .experiencie__box .experience__info .experience__description .experience__repo a {
    display: flex;
    gap: 10px;
    padding: 16px;
}

section.experience .experiencie__box .experience__info .experience__description .experience__repo a .experiencia__botao--repo {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    color: var(--cor-primaria);
    font-size: 1rem;
    font-weight: 400;
}

section.experience .experiencie__box .experience__info .experience__description .experience__demo {
    background-color: var(--cor-primaria);
}

section.experience .experiencie__box .experience__info .experience__description .experience__demo a {
    display: flex;
    gap: 10px;
    padding: 16px;
}

section.experience .experiencie__box .experience__info .experience__description .experience__demo a .experiencia__botao--demo {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    color: var(--cor-do-texto-branca);
    font-size: 1rem;
    font-weight: 400;
}

/*Contato*/

section.formcontato{
    display: flex;
    margin: 0;
    padding: 10rem 15rem 4rem;
    background-color: var(--cor-azul-bg);
}

section.formcontato .formcontato__contacto {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
    height: 670px;
}

section.formcontato .formcontato__contacto .formcontato--esquerda {
    width: 40%;
}

section.formcontato .formcontato__contacto .formcontato--esquerda .formcontato__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.formcontato .formcontato__contacto .formcontato__text {
    width: 60%;
    display: flex;
    flex-direction: column;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__title {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 8px;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__subtext {
    font-weight: 500;
    margin-top: 8px;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__fieldset {
    display: flex;
    flex-direction: column;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__fieldset .formcontato__input {
    display: flex;
    width: 100%;
    height: 56px;
    font-family: 'Raleway';
    font-size: 1rem;
    color: var(--cor-do-texto);
    padding: 0px 12px;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__fieldset .formcontato__input::placeholder {
    color: var(--cor-do-texto-cinza);
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__fieldset .formcontato__textarea {
    display: flex;
    width: 100%;
    height: 133px;
    font-family: 'Raleway';
    font-size: 1rem;
    color: var(--cor-do-texto);
    padding: 12px 12px;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__fieldset .formcontato__textarea::placeholder {
    padding: 0px;
    color: var(--cor-do-texto-cinza);
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao {
    display: block;
    background-color: var(--cor-primaria);
    color: var(--cor-do-texto-branca);
    width: 193px;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 400;
    padding: 16px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao:hover {
    color: var(--cor-do-texto-branca);
    background-color: var(--cor-de-hover);
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao.desativado {
    background-color: var(--cor-do-texto-cinza);
    color: var(--cor-do-texto);
    cursor: not-allowed;
    font-weight: 600;
}

section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .mensagem-erro {
    color: red;
    font-weight: 400;
}

/*footeer*/

section.footer{
    display: flex;
    margin: 0;
    padding: 32px;
    justify-content: center;
    background-color: var(--cor-de-fundo-branco);
}

section.footer > .footer__rodape {
    text-align: center;
    font-weight: 500;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (max-width: 768px) {
    /* All */
    .all {
        column-count: 8;
        gap: 64px;
    }

    /* Section */
    section {
        margin: 0rem 2rem;
        padding: 0;
    }

    /* Menu */
    section.menu{
        padding: 16px 2rem;
    }

    section.menu > nav > .menu__list .menu__list__item {
        display: none;
    }

    section.menu > nav > .menu__list .menu__list__item:last-child {
        display: block;
    }

    /*title*/
    section.title > .title__div {
        gap: 32px;
        padding: 2rem 0rem;
    }

    section.title > .title__div .title__profile {
        order: 1;
        width: 20%;
        height: auto;
    }

    section.title > .title__div .title__container {
        gap: 16px;
        width: 80%;
    }

    section.title > .title__div .title__container .title__bio {
        font-size: 1.375rem;
    }

    section.title > .title__div .title__container .title__subsection {
        font-size: 1.375rem;
        font-weight: 400;
    }

    section.title > .title__div .title__container .title__network {
        flex-wrap: wrap;
    }

    section.title > .title__div .title__container .title__network .title__network__item a img {
        width: 12px;
        height: 12px;   
    }

    /* About */
    section.about{
        padding: 2rem;
    }

    section.about > .about__container {
        width: 100%;
    }

    section.about > .about__container .about__title {
        font-size: 1.375rem;
    }

    section.about > .about__container > .about__paragraph {
        margin-bottom: 0px;
        font-size: 0.875rem;
    }

    section.about > .about__container img {
        width: 8%;
    }

    /*Skills*/
    section.skills {
        margin-bottom: 0px;
    }

    section.skills > .skills__title {
        font-size: 1.375rem;
    }

    section.skills > .skills__line {
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 16px;
    }

    section.skills > .skills__line .skills__box {
        width: 32%;
        height: 118px;
        padding: 16px;
    }

    /*Hobbies*/
    section.hobbies{
        margin-bottom: 0px;
    }

    section.hobbies > .hobbies__title {
        font-size: 1.375rem;
    }

    section.hobbies > .hobbies__line {
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 16px;
    }

    section.hobbies > .hobbies__line .hobbies__box {
        width: 32%;
        height: 118px;
        padding: 16px;
    }

    /*Experiências acadêmicas*/
    section.academic{
        padding: 2rem;
    }

    section.academic > .academic__title {
        font-size: 1.375rem;
    }

    section.academic > .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__img img {
        height: 118px;
    }

    section.academic > .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__title h4 {
        font-size: 1rem;
    }

    section.academic > .academic__courses .academic__courses__box .academic__courses__list .academic__courses__item__subtitle p {
        font-style: 0.875rem;
    }

    /*Expeirência profissional*/
    section.experience{
        gap: 16px;
    }

    section.experience > .experience__section__title {
        font-size: 1.375rem;
        margin-bottom: 1rem;
    }

    section.experience .experiencie__box {
        flex-direction: column;
        align-items: flex-start;
    }

    section.experience .experiencie__box:not(:last-child) {
        margin-bottom: 64px;
    }

    section.experience .experiencie__box:nth-child(2n+0) {
        flex-direction: column;
    }

    section.experience .experiencie__box .experience__img {
        width: 100%;
        height: 320px;
    }

    section.experience .experiencie__box .experience__info .experience__title {
        font-size: 1rem;
    }

    section.experience .experiencie__box .experience__info .experience__text {
        font-size: 0.875rem;
    }

    section.experience .experiencie__box .experience__info .experience__description .experience__repo {
        border: 1px solid var(--cor-primaria);
    }

    section.experience .experiencie__box .experience__info .experience__description .experience__repo a {
        padding: 12px 16px;
    }

    section.experience .experiencie__box .experience__info .experience__description .experience__repo a .experiencia__botao--repo {
        font-size: 0.875rem;
    }

    section.experience .experiencie__box .experience__info .experience__description .experience__demo a {
        padding: 12px 16px;
    }

    section.experience .experiencie__box .experience__info .experience__description .experience__demo a .experiencia__botao--demo {
        font-size: 0.875rem;
    }

    /* Contato */

    section.formcontato{
        padding: 2rem;
    }

    section.formcontato .formcontato__contacto {
        display: block;
        height: auto;
    }

    section.formcontato .formcontato__contacto .formcontato--esquerda {
        display: none;
    }

    section.formcontato .formcontato__contacto .formcontato__text {
        width: 100%;
    }

    section.formcontato .formcontato__contacto .formcontato__text .formcontato__title {
        font-size: 1.375rem;
    }

    section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__fieldset .formcontato__textarea {
        padding: 16px 12px;
    }

    section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao {
        width: 25%;
        padding: 12px 16px;
    }

    section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao.desativado {
        font-weight: 400;
    }

    /* footeer */
    section.footer > .footer__rodape {
        font-weight: 400;
    }
}

/*Mobile*/
@media (max-width: 425px) {
    /* All */
    .all {
        column-count: 4;
        gap: 32px;
    }

    /* Section */
    section {
        margin: 0rem 1rem;
    }

    /* Menu */
    section.menu{
        padding: 16px;
    }

    section.menu > nav > .menu__list {
        justify-content: center;
        align-items: center;
    }

    section.menu > nav > .menu__list .menu__list__item:last-child {
        font-weight: 400;
    }

    /*title*/
    section.title > .title__div {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 0;
    }

    section.title > .title__div .title__profile {
        order: 0;
        width: 50%;
    }

    section.title > .title__div .title__container {
        width: 100%;
    }

    section.title > .title__div .title__container .title__subsection {
        font-size: 0.875rem;
    }

    section.title > .title__div .title__container .title__network {
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: auto;
    }

    /* About */
    section.about{
        padding: 1rem;
    }

    section.about > .about__container img {
        width: 40%;
    }

    /*Skills*/
    section.skills > .skills__line .skills__box {
        width: 47%;
    }

    /*Hobbies*/
    section.hobbies > .hobbies__line .hobbies__box {
        width: 47%;
    }

    /*Experiências acadêmicas*/
    section.academic{
        padding: 1rem;
    }

    section.academic > .academic__courses {
        flex-direction: column;
        gap: 16px;
    }

    /*Expeirência profissional*/
    section.experience .experiencie__box .experience__img {
        height: 144px;
    }

    /* Contato */

    section.formcontato{
        padding: 1rem;
    }

    section.formcontato .formcontato__contacto .formcontato__text .formcontato__form .formcontato__botao {
        width: 50%;
    }
}